button, a {
    transition: background-color .2s linear;
}

.read-more-btn {
    position: absolute;
    right: 15px;
    border-radius: 3px;
    background-color: rgba(30, 122, 228, 0.7);
    border: none;
    outline: none;

    font-size: 14px;
    @include flexbox;
    color: #fff;
}

.read-more-btn:hover,
.read-more-btn-2:hover{
    background-color: rgba(30, 122, 228, 1.0);
}

.read-more-btn-2{
    margin-top: 15px;
    border-radius: 3px;
    padding: 8px 25px;
    background-color: rgba(30, 122, 228, 0.7);
    border: none;
    outline: none;
    font-size: 16px;
    @include flexbox;
    color: #fff;
}