* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Open Sans", sans-serif;
}

.logo {
    border-radius: 50%;
}

button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.bold {
    font-weight: 500;
}