// colors & shadows
$box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.25);
$main-bg-clr: #f4f4f4;
$darker-bg-clr: #d9d9d9;
$table-border: rgba(0, 0, 0, 0.15); 

// fonts & sizes 
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;

$transition: all .2s linear;
